/* MyGM Style Sheet */

.version-info {
  text-align: center;
  margin-top: 2em;
  font-family: "Arial", sans-serif;
}

.mygm-border {
  text-align: center;
  overflow: hidden;
  font-size: 1.25em;
  padding: 0.5em;
  font-family: "Arial", sans-serif;
  max-width: 100%;
  margin-bottom: 4em;
}

.collapsible-div {
  display: inline-block;
}

.collapsible {
  background-color: #9E9E9E;
  color: BLACK;
  cursor: pointer;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.25em;
}

.collapsible:hover {
    background-color: #555;
}
.gm-rules {
  width: 90%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.gm-rules label {
  width: 100%;
  display: block;
  text-align: left;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}


.title {
  width: 100%;
  display: block;
  text-align: center;
  margin: 1em;
  font-weight: bold;
}

.info {
  width: 90%;
  display: block;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

/* Dice Emulator Style */

.dice {
  display: block;
  width: 100%;
}

.dice div {
  display: inline-block;
  width: 30%;
  margin: 0.25em;
}

/* Sorcery Style */

.sorceries {
  display: block;
  width: 100%;
  margin: 0.5em;
}

.sorcery {
  display: inline-block;
  width: 30%;
  height: 80%;
  border-style: solid;
  margin: 0.5em;
  vertical-align: top;
}

/* Ancestry */

.ancestries {
  width: 100%;
  display: block;
}

.ancestry {
  width: 90%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

.ancestry label {
  width: 100%;
  font-weight: bold;
  text-align: center;
  display: block;
}


.ancestry p {
  width: 100%;
  text-align: left;
  display: block;
}

/* Class */

.classes {
  width: 100%;
  display: block;
}

.class {
  width: 100%;
  display: block;
  margin: 1em;
  margin: auto;
}

.class label {
  width: 100%;
  font-weight: bold;
  text-align: center;
  display: block;
}


.class p {
  width: 100%;
  text-align: left;
  display: block;
  margin-right: 5%;
  margin-left: 5%;
}

/* Weapons and Armor Style */

.weapons {
  display: block;
  width: 100%;
  margin: 0.5em;
}

.weapon {
  display: inline-block;
  width: 30%;
  height: 80%;
  border-style: solid;
  margin: 0.5em;
  vertical-align: top;
}

.armor-sets {
  display: block;
  width: 100%;
  margin: 0.5em;
}

.armor {
  display: inline-block;
  width: 30%;
  height: 80%;
  border-style: solid;
  margin: 0.5em;
  vertical-align: top;
}

.equipment-detail {
  width: 100%;
  display: inline-block;
  text-align: left;
  margin: 0.25em;
  font-size: 0.90em;
}

.equipment-label {
  font-weight: bold;
  font-size: 1em;
}

/* Responsive Styles  */

@media screen and (max-width: 65em) {

  .mygm-border {
    font-size: 1.35em;
  }
}
